.fireplaceInput {
    padding-top: 1em ;
    background-color: whitesmoke;
    transition-duration: .4s;
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
        width: 30%;
    }

    p {
        margin-top: .3em 0;
    }

    &.active {
        background-color: #ffe8cd;
        ;
    }
}