@import "../../../styles/toolsBundler.scss";

.popups-ctn {}

.popup {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: popupApparition 0.5s;
    z-index: 100;

    .popup-header {
        display: flex;
        align-items: center;
        background-color: $CS_GREY;
        color: #fff;
        min-height: 7%;

        h1 {
            font-size: 1.5em;
            margin: 0;
            margin-left: .5em;
            line-height: initial;
        }

        .go-back-icon {
            font-size: 1.4em;
            margin-left: .4em;
        }
    }
}

.popup-body {
    width: 100%;
    height: 100%;
}


@keyframes popupApparition {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
    }
}


@keyframes popupDisparition {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100vw);
        display: none !important;
    }
}