@import "../../styles/toolsBundler.scss";

$CONTAINER_ID: "#loadingAnimation";

$svgPrefix_candyCane : "candyCane_svg__";

#{getContainerId()} {
    display: none;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;

    #{getChildrenId("animationCtn")} {
        margin-top: 5em;
        animation: smoothTopApparition 0.4s forwards;

        .loader {
            display: flex;
            justify-content: center;
            border: .4em solid $CS_BLUEDARK;
            border-top: .4em solid $CS_BLUE;
            background-color: $CS_BLUEDARK;
            border-radius: 50%;
            width: 5em;
            height: 5em;
            animation: spin .5s linear infinite;

            svg {
                width: 60%;
                animation: spinInvert .5s linear infinite;
            }
        }
    }


}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinInvert {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes smoothTopApparition {
    0% {
        transform: translateY(-20px);
        opacity: 0.3;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@media (min-width: $BIG_SCREEN_MIN_SIZE) {

    #{getContainerId()} {}

}