@import "../../styles/toolsBundler.scss";

$CONTAINER_ID: "#simpleModal";

#{getContainerId()} {

    .alert {
        margin-top: 2.5em;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}