.humidityDisplay {
    padding-top: 1em ;
    background-color: #cce5ff;
    transition-duration: .4s;
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
        width: 30%;
    }

    p {
        margin-top: 0em;
        &.value{
            font-weight: 900;
            font-size: 2.5em;
            margin-top: .3em 0;
            margin-bottom: 0em;
        }
    }
}