@import "../../styles/toolsBundler.scss";

$CONTAINER_ID: "#tabBarCtn";

#{getContainerId()} {
    display: flex;
    justify-content: space-evenly;
    margin-top: -3px;
    padding: .5em 7vw;
    padding-bottom: 0;
    background-color: #343A40;
    color: #fff;

    &>div {
        display: flex;
        flex-direction: column;
        padding: 0 1.5em;
        padding-bottom: .5em;
        align-items: center;
        border-bottom: solid .3em rgba(0, 0, 0, 0);
        transition-duration: .2s;

        &.selected {
            border-bottom-color: $CS_BLUE;
        }

        .fa-icon {
            font-size: 1.3em;
        }

        h2 {
            font-size: .8em;
        }
    }
}



@media (min-width: $BIG_SCREEN_MIN_SIZE) {
    #{getContainerId()} {
        padding-right: 20vw;
        padding-left: 20vw;
    }
}