@import "../../../../../../assets/styles/toolsBundler.scss";

$CONTAINER_ID: "#homeLink";

#{getContainerId()} {
    display: flex;
    flex-direction: column;
    align-items: center;

    .img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.7em;
        height: 3.7em;
        border-radius: .2em;
        background-color: $CS_BLUEDARK;
        color: #fff;
        z-index: 1;

        .fa-icon {
            font-size: 1.7em;
        }
    }

    h3 {
        margin-top: .5em;
        font-size: 1.2em;
        color: #fff;
        background-color: $CS_BLUEDARK;
        padding: .2em .3em;
        border-radius: .2em;
        transform: skew(-10deg);
        box-shadow: .3em .2em $CS_BLUE, -.3em -.2em $CS_RED, .5em -.4em $CS_YELLOW;
    }
}