@import '../../../../assets/styles/toolsBundler.scss';

$CONTAINER_ID: "#myHomePage";

#{getContainerId()} {
    display: flex;
    flex-direction: column;
    align-content: flex-end;

    .components {
        border-radius: .7em;
    }

    #{getChildrenId("synchronizeHome")} {
        display: flex;
        justify-content: center;
        margin-top: 3em;

        h1 {
            border: dashed .1em $CS_BLUEDARK;
            border-radius: .4em;
            padding: .5em;
            font-size: 1.3em;
            color: $CS_BLUEDARK;
            opacity: .7;
        }
    }

    #{getChildrenId("homesCtn")} {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}