@import "../../styles/toolsBundler.scss";

$CONTAINER_ID: "#splashscreen";

#{getContainerId()} {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 1000;

    svg {
        width: 80vw;
        animation: flipInX 1.5s;
        backface-visibility: visible !important;

        #{getSvgComponentId("icon.svg", "giftExtensionColorBottomRight")},
        #{getSvgComponentId("icon.svg", "giftExtensionColorTopLeft")},
        #{getSvgComponentId("icon.svg", "giftCoverFill")},
        #{getSvgComponentId("icon.svg", "giftFill")},
        #{getSvgComponentId("icon.svg", "giftFillShadow")} {
            // display: none;
        }

        #{getSvgComponentId("icon.svg", "giftExtensionColorBottomRight")},
        #{getSvgComponentId("icon.svg", "giftExtensionColorTopLeft")} {}

        #{getSvgComponentId("icon.svg", "giftFill")} {}

    }
}


@media (min-width: $BIG_SCREEN_MIN_SIZE) {

    #{getContainerId()} {

        svg {
            width: 40vw;
        }
    }
}

@keyframes strokeApparition {
    from {
        stroke-width: 200;
    }

    to {}
}

// Animation from animate.css -> https://daneden.github.io/animate.css/
@keyframes flipInX {
    from {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}