@import "../../../../styles/toolsBundler.scss";

$CONTAINER_ID: "#sidebar";


#{getContainerId()} {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
    margin-top: -2px; // Need this style to remove the small white line between navbar and sidebar

    nav {
        position: absolute;
        color: white;
        min-width: 60vw;
        max-width: 70vw;
        height: 100vh;
        background-color: #343A40;
        animation: apparitionSidebarAnimation 0.5s;

        .navbar-nav {
            margin-bottom: 10vh;
        }

        .notification-badge {
            border-color: #343A40;
        }

        .nav-item {
            cursor: pointer;

            &.active {
                // TODO: Need better design for active nav-item
                text-decoration: underline;
            }
        }

        #{getChildrenId("pseudoHeader")} {
            min-height: 20vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            #{getChildrenId("avatar")} {
                height: 10vh;
                width: 10vh;
                border-radius: 50%;
                box-shadow: 0 0 20px #000;
            }

            .pseudo {
                margin-top: 7%;
                text-align: center;
                font-size: 1.2rem;
            }
        }

        .nav-link {
            padding-left: 20px;
            font-size: 1rem;

            .fa-icon {
                margin-right: 3%;
                font-size: 1.2rem;
            }

            svg {
                max-width: 15%;
            }
        }

        .dropdown-item {
            svg {
                max-width: 30%;
                margin-right: 5%;
            }
        }


    }
}



@keyframes apparitionSidebarAnimation {
    from {
        transform: translateX(-70vw);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes disparitionSidebarAnimation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-70vw);
    }
}


@media (min-width: $BIG_SCREEN_MIN_SIZE) {
    #{getContainerId()} {
        nav {
            min-width: 20vw;

            .dropdown-item,
            .nav-link {
                svg {
                    max-width: 30px;
                }
            }
        }
    }
}