.popup-body {
    background-color: #ff6961;
    color: whitesmoke;
    animation: colorblink 0.9s infinite;
    text-align: center;
    justify-content: center;

    h1 {
        font-size: 5em;
    }
}

@keyframes colorblink {
    0% {}

    70% {
        background-color: whitesmoke;
        color: black;
        font-size: 1.1em;
    }
}