@import "../../../../../assets/styles/toolsBundler.scss";

$CONTAINER_ID: "#cameraCapturePopup";

#{getContainerId()} {
    flex-direction: column;
    height: 100vh;

    #{getChildrenId("image")} {
        display: flex;
        justify-content: center;
        margin-top: 2em;

        img {
            width: 100%;
        }
    }
}