@import "../../styles/toolsBundler.scss";

$CONTAINER_ID: "#connexionStatus";

#{getContainerId()} {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;

    &.offline {
        transform: translateY(100%);
        background-color: $red;
        animation: apparitionBottom .3s forwards;
    }

    &.online {
        display: none;
        transform: translateY(0);
        background-color: $green;
        animation: disparitionBottom .3s forwards;
        animation-delay: .6s;
    }
}