@import "../../../styles/toolsBundler.scss";

.page {
    width: 100%;
    height: 100%;
    padding: 0 1.25em;

    h1 {
        font-size: 2.2em;

        .fa-icon {
            font-size: .8em;
        }
    }
}