@import "../../assets/styles/toolsBundler.scss";

$CONTAINER_ID: "#mainPage";

#{getContainerId()} {
    display: flex;
    flex-direction: column;
    height: 100vh;

    #{getChildrenId("pages")} {
        width: 100%;
        height: 100%;
    }

    .toast {
        position: absolute;
        bottom: .5em;
        left: .5em;
    }
}