@import '../../../../../../../assets/styles/toolsBundler.scss';

$CONTAINER_ID: "#synchronizeHomePopup";

#{getContainerId()} {

    .card-body {
        border: none;
        padding-top: 3em;
    }

    button {
        margin-top: 50px;
    }
}