@import "../../assets/styles/toolsBundler.scss";

$CONTAINER_ID: "#loginPage";

#{getContainerId()} {
    display: flex;
    flex-direction: column;

    #{getChildrenId("iconCtn")} {
        display: flex;
        justify-content: center;
        padding-top: 8vh;
        padding-bottom: 4vh;

        svg {
            width: 40vw;
        }
    }

    #{getChildrenId("formCtn")} {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        #{getChildrenId("form")} {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        #{getChildrenId("buttonCtn")} {
            display: flex;
        }
    }


    button {
        box-shadow: none;

        &.btn-primary {
            border-bottom: 2px solid #222;
        }

        &:not(.btn-primary) {
            background-color: rgb(247, 243, 243);
        }

        &:nth-child(1) {
            border-radius: .3rem 0 0 0;
        }

        &:nth-child(2) {
            border-radius: 0 .3rem 0 0;
        }
    }
}

@media (min-width: $BIG_SCREEN_MIN_SIZE) {
    #{getContainerId()} {

        #{getChildrenId("iconCtn")} {
            svg {
                width: 40vh;
            }
        }

        #{getChildrenId("formCtn")} {
            #{getChildrenId("form")} {
                max-width: 60%;
            }
        }

    }
}