@import '../../../../assets/styles/toolsBundler.scss';

$CONTAINER_ID: "#quickActionPage";

#{getContainerId()} {
    display: flex;
    flex-direction: column;
    align-content: flex-end;

    #{getChildrenId("quickActionsCtn")} {
        padding: 0 2em;

        .btn-quick-action {
            display: flex;
            align-items: flex-end;

            p {
                font-weight: bold;
                margin-left: .3em;
                margin-bottom: 0;
            }
        }

    }
}