.home-locker-component {
    padding-top: 1em;
    background-color: whitesmoke;
    transition-duration: .4s;
    display: flex;
    flex-direction: column;
    align-items: center;

    .fa-icon {
        font-size: 3em;
    }
}